body {
	width: 960px;
	margin: auto;
}

h1 {
	text-align: center;
}

#datos, #descripcion {
	float: left;
	padding: 0px;
	margin: 0px;
}

#datos {
	width: 260px;
}

#descripcion {
	width: 260px;
}

#contenido li {
	float: left;
	width: 33%;
}
